@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #3b3b98;
  color: rgba(255, 255, 255, 0.911);
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 0.625rem;
  margin: 0;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  background-color: #23235b;
  box-shadow: 0rem 0.125rem 0.625rem rgba(255, 255, 255, 0.2);
  padding: 1.25rem;
  width: 350px;
  max-width: 100%;
  border-radius: 0.25rem;
}